.img {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: help;
}

.img[title]:hover:after {
  position: absolute;
  z-index: 1;
  padding: 5px;
  content: attr(title);
}