.wrapper {
  overflow: auto;
  min-height: 100vh;
  padding-bottom: 60px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
    url('../../../assets/images/stonePlateImg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.table {
  margin: auto;
  padding: 50px 20px 20px 20px;
  table-layout: fixed;
  border-spacing: 0;

  font-size: 20px;
}

.table th {
  padding: 15px;
  font-weight: bold;
  background: var(--lightgrey-color);
  border-bottom: 6px solid var(--green200-color);
}

.table td {
  overflow: hidden;
  max-width: 160px;
  padding: 10px 10px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: var(--lightgrey200-color);
  border-bottom: 2px solid var(--green200-color);
}

.table td p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table td:nth-child(1) {
  max-width: 40px;
}

.table td:nth-child(4) {
  text-align: left;
}

.table td:nth-child(5) {
  max-width: 800px;
  text-align: left;
}

.table td:nth-child(6) {
  max-width: 70px;
}

.table td span {
  display: block;
  width: 40px;
  height: 20px;
}