.wrapper {
  overflow: auto;
  min-height: 100vh;
  padding-bottom: 60px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
    url('../../../assets/images/stonePlateImg.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}