.wrapper {
  position: absolute;
  width: 100%;
}

.logoLink {
  display: block;
  max-width: 1600px;
  margin: auto;
  padding: 20px 20px;
}

.logo {
  width: 75px;
  opacity: 0.7;
  transition: transform 0.3s ease;
  /*___Анимация, эффект кручения вокруг оси Y___*/
  animation-name: twistY;
  animation-duration: 5s;
}

.logo:hover {
  opacity: 1;
}

.logo:active {
  position: relative;
  top: 2px;
  opacity: 1;
}

/*___Анимация, эффект кручения вокруг оси Y___*/
@keyframes twistY {
  0% {
    opacity: 0;
    transform: rotateY(2160deg);
  }

  100% {
    opacity: 0.7;
    transform: rotateY(0deg);
  }
}