.btn {
  padding: 8px 16px;
  font-weight: 600px;
  opacity: 0.7;
  border: 0;
  transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  cursor: pointer;
}

.btn:active {
  position: relative;
  top: 2px;
}

.btnAdd {
  font-size: 20px;
  color: var(--white-color);
  background: var(--green100-color);
}

.btnAdd:hover {
  opacity: 1;
}

.btnGroup {
  font-size: 16px;
  color: var(--lightgrey-color);
  background-color: var(--lightgrey400-color);
  border-radius: 20px;
}

.btnGroup:hover {
  color: var(--white-color);
  background-color: var(--lightgrey500-color);
}