.wrapper {
  min-height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
    url('../../../assets/images/productsImg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.subtitle {
  max-width: 560px;
  margin: 0 auto;
  padding: 50px 20px 0 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
  color: var(--lightgrey-color);

  /*___Анимация, эффект появления текста снизу___*/
  animation-name: slideFromBottom;
  animation-duration: 5s;
}

/*___Анимация, эффект появления текста снизу___*/
@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(200%);
  }

  to {
    opacity: 1;
    transform: translateY(2);
  }
}