.btn {
  align-items: center;
  width: 235px;
  padding: 18px 30px;
  font-size: 20px;
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn {
  background: var(--green400-color);
}

.btn:hover {
  background: var(--green300-color);
  cursor: pointer;
}

.btn:active {
  background: var(--green500-color);
}


@media (max-width: 1024px) {

  .btn {
    width: 235px;
    font-size: 20px;
  }
}

/*770px___________________________________________________*/
@media (max-width: 770px) {

  .btn {
    width: 177px;
  }
}

/*660px___________________________________________________*/
@media (max-width: 660px) {

  .btn {
    margin-right: 10px;
  }
}

/*550px___________________________________________________*/
@media (max-width: 550px) {

  .btn {
    width: 134px;
    padding: 14px 29px;
    font-size: 16px;
  }
}

/*359px___________________________________________________*/
@media (max-width: 359px) {

  .btn {
    width: 90px;
    padding: 12px 12px;
    font-size: 14px;
  }
}